.MapPageShell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Spacer {
    height: 49px;
    width: 100%;
    background-color:#98002E;
}

.MapContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: white;
}

.MapLink {
    width: 100%;
}

.MapImg {
    width: 100%;
    height: 100%;
}